#caption QLabel, #caption QLineEdit {
    color: #eee;
}

* {
    font-family: "Segoe UI";
}

QMainWindow {
    border: 1px solid rgb(8, 197, 90);
    background: #f0f0f0;
}

*[red_frame="true"] {
    border: 1px solid red;
}

QCalendarWidget QWidget#qt_calendar_navigationbar {
    background-color: rgb(7, 156, 74);
}

#statusbar {
    background: #fff;
}

#statusbar QLabel {
    color: #454545;
}

#statusbar QProgressBar {
    background: #fff;
    border: 1px solid #454545;
    padding: 1px;
}

#statusbar QProgressBar::chunk {
    background-color: #454545;
    width: 1px;
}

#statusbar QFrame[ln=true] {
    border: 1px solid #ccc;
    background: #ccc;
}

#statusbar QPushButton {
    background: none;
    border: none;
}

*[readOnly=true] {
    background: #eee;
}
